
div{font-family: "Times New Roman";
    font-size: 14px;
    text-align: center;
   }  
#b1{width: 1200px;
    height: 1200px;
    padding: 10px;
    margin: 20px;
    background-color: yellow;
   }
#b2{width: 1060px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    background-color: red;

    
   }
#b3{
    width: 400px;
    height: 600px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    float: left;
   }
#b4{width: 600px;
    height: 600px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    float: left;
   }
#b5{width: 1060px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    background-color: red;
    clear: both;
   }